<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Java Task Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
    <h1>Java Task Menagment</h1>

    <table>
        <tr scope="row" align="right">
            <td>
                <h2>Tasks list:</h2>
            </td>
            <td>
                <form action="#" method="get" th:action="@{/tasks/addnew}" th:object="${newTask}"
                      enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Add new task</button>
                </form>
            </td>
        </tr>
    </table>

    <table class="table table-striped thead-dark">
        <thead>
        <tr scope="row" align="left">
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Project</th>
            <th scope="col">Priority</th>
            <th scope="col">Tags</th>
            <th scope="col">Created at</th>
            <th scope="col">Edited at</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" align="left" th:each="task: ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.project}"></td>
            <td th:text="${task.prio}"></td>
            <!-- <td th:text="${task.tags}"></td> -->
            <td>
                <ul class="list-group list-group-flush" th:each="tag: ${task.tags}">
                    <li th:height=10 class="list-group-item" th:text="${tag.name}"></li>
                </ul>
            </td>
            <td th:text="${{task.createdAt}}"></td>
            <td th:text="${{task.editedAt}}"></td>
            <td>
                <form action="#" method="post" th:action="@{/tasks/{id}/delete(id=${task.id})}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <form action="#" method="get" th:action="@{/tasks/{id}/attachments(id=${task.id})}">
                    <button type="submit" class="btn btn-primary">Attachments</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>