<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Java Task Management</title>
</head>
<body>
<h1>Java Task Menagment</h1>
<h2>Tasks list:</h2>
<table>
    <thead>
    <tr align="left">
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Project</th>
        <th>Priority</th>
        <th>Created at</th>
        <th>Edited at</th>
    </tr>
    </thead>
    <tbody>
    <tr align="left" th:each="task: ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.project}"></td>
        <td th:text="${task.prio}"></td>
        <td th:text="${{task.createdAt}}"></td>
        <td th:text="${{task.editedAt}}"></td>
        <td>
           <form action="#" method="post" th:action="@{/tasks/delete/{id}(id=${task.id})}">
               <button type="submit">Del</button>
           </form>
        </td>
    </tr>
    </tbody>
</table>


<h2>Add new:</h2>
<form action="#" method="post" th:action="@{/tasks}" th:object="${newTask}">
    <fieldset>
        <label>
            Title:
            <input type="text" th:field="*{title}">
        </label>
        <br><br>
        <label>
            Description:
            <input type="text" th:field="*{description}">
        </label>
        <br><br>
        <label>
            Project:
            <input type="text" th:field="*{project}">
        </label>
    </fieldset>
    <button type="submit">Add task</button>
</form>
</body>
</html>